@{
    Layout = null;
}
<!doctype html>
<html>
<head>
    <title>Hello ASP.NET MVC Core</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
</head>
<body>
    <h2>Привет мир!</h2>
    @foreach (var b in ViewBag.book)
    {
        <p>@b.Id</p>
        <p>@b.Title</p>
    }

</body>
</html>
